// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.toolbar-theme {
  .toolbar-background {
    background: #0d377f;
  }
  .toolbar-title-md,
  .toolbar-title-ios,
  .bar-button-default-md,
  .bar-button-default-ios {
    color: #fff;
  }
}

.progress-state {
  display: block;
  margin-bottom: 5px;
  font-size: 11px;
  text-align: left;
  color: #777;

  strong {
    color: #0d377f;
  }
}
.progress {
  position: relative;
  background: #eaeaea;
  width: 100%;
  height: 10px;
  margin-bottom: 20px;

  > div {
    display: block;
    width: 0;
    height: 100%;
    background: #950008;
    background: -moz-linear-gradient(left,  #0d377f 0%, #950008 100%);
    background: -webkit-linear-gradient(left,  #0d377f 0%,#950008 100%);
    background: linear-gradient(to right,  #0d377f 0%,#950008 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#950008', endColorstr='#0d377f',GradientType=1 );
  }
}

.btn--state-report {
  position: relative;
  top: -8px;
  float: right;
}
